<div class="footer-container">
	<div class="f-logo"></div>
	<div class="copy">
		<div class="footer-l f-box">
			<h4><i class="f-side"></i>联系方式<i class="f-side"></i></h4>
			<p class="f-p">
			   全国客服热线：400-110-3737（服务时间：8:00-21:00)<br>
			   元祖总部：021-59755678<br>
			   江苏团购业务合作：0510-82105768-81<br>
			   浙江团购业务合作：0571-88881111<br>
			   四川团购业务合作：028-82005757<br>
			   For support , please contact : dzsw@ganso.net
			</p>
		</div>
		<div class="footer-c f-box">
			<h4><i class="f-side"></i>电商渠道<i class="f-side"></i></h4>
			<div class="f-icon">
				<a href="../../index.html"><img src="../../img/img_5_3.png" class="icon-img-1"></a>
				<a href="javascript:void(0)"><img src="../../img/img_5_4.png" class="icon-img-2">
					<div class="wx-box">
						<img src="../../img/img_5_9.jpg" class="wx-img">
					</div>
					<span class="wx-txt">请用微信“扫一扫”进入元祖商城</span>
				</a>
				<a href="http://mall.jd.com/index-61902.html" target="_blank"><img src="../../img/img_5_5.png" class="icon-img-3"></a>
				<a href="https://ganso.tmall.com/"><img src="../../img/img_5_6.png" class="icon-img-4"></a>
				<a href="https://www.ele.me/shop/525007"><img src="../../img/img_5_7.png" class="icon-img-5"></a>
				<a href="http://sh.meituan.com/shops/?w=%E5%85%83%E7%A5%96&mtt=1.index%2Ffloornew.0.0.ixzu2i6x"><img src="../../img/img_5_8.png" class="icon-img-6"></a>
				<p class="bullet"></p>
			</div>
		</div>
		<div class="footer-r f-box">
			<h4><i class="f-side"></i>关于元祖<i class="f-side"></i></h4>
			<p class="f-p">
			   1981年创始于台湾，1993年第一块鲜亮醒目的"元祖红"招牌在上海竖起。至今元祖门店遍及台湾两岸，力求以时效确保品质新鲜、服务贴心；随著产品不断创新和门店的扩增，公司每年都在稳步成长。
			</p>
		</div>
		<p class="f-cop"><span>版权所有 © 2015 上海元祖梦果子股份有限公司</span><span>沪公网安备 31011802001203号</span></p>
	</div>
</div>
