<div class="container">
	<div class="logo">
		<a href="#"><img src="../../img/logo.png" alt=""></a>
	</div>
	<ul id="nav">
		<li class="li_ on">
			<a href="javascript:void(0);"><span>首页</span></a>
		</li>
		<li class="li_">
			<a href="/html/shop-mall/shop-index.html"><span>元祖商场</span></a>
		</li>
		<li class="li_">
			<a href="javascript:void(0);"><span>元祖文化</span></a>
			<ul class="down_menu d-1">
				<li><a href="javascript:void(0);">牵手世博</a></li>
				<li><a href="javascript:void(0);">星星许愿</a></li>
			</ul>
		</li>
		<li class="li_">
			<a href="javascript:void(0);"><span>元祖分享</span></a>
			<ul class="down_menu d-2">
				<li><a href="javascript:void(0);">元祖新闻</a></li>
				<li><a href="javascript:void(0);">视频分享</a></li>
			</ul>
		</li>
		<li class="li_">
			<a href="javascript:void(0);"><span>招标投标</span></a>
		</li>
		<li class="li_">
			<a href="javascript:void(0);"><span>投资者关系</span></a>
		</li>
		<li class="li_">
			<a href="javascript:void(0);"><span>更多精彩</span></a>
			<ul class="down_menu d-3">
				<li><a href="javascript:void(0);">启蒙乐园</a></li>
				<li><a href="javascript:void(0);">人才招聘</a></li>
				<li><a href="javascript:void(0);">企业试吃</a></li>
				<li><a href="javascript:void(0);">加盟我们</a></li>
			</ul>
		</li>
	</ul>
</div>