<div class="footer-box">
	<img src="/img/shop-mall/f-img.jpg" alt="">
	<ul class="f-link">
		<li><a href="" title="帮助中心">帮助中心</a></li>
		<li><a href="" title="关于我们">关于我们</a></li>
		<li><a href="" title="元祖服务">元祖服务</a></li>
		<li><a href="" title="人才招聘">人才招聘</a></li>
		<li><a href="" title="联系我们">联系我们</a></li>
		<li><a href="" title="元祖会员">元祖会员</a></li>
	</ul>
	<p>
		版权所有 &copy 2015 上海元祖梦果子股份有限公司 沪ICP备17013537号
		<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011802001203" target="_black"><img src="/img/shop-mall/organ.png" alt="">沪公网安备 31011802001203号</a>
	</p>
	<p>
		<a href="http://218.242.124.22:8081/businessCheck/verifKey.do?showType=extShow&serial=9031000020160407135056000000536519-SAIC_SHOW_310000-20170329153205295181&signData=MEUCIBURLFfySsApOJUn1y1U+DADOToKL+gqp4jCxWqqjSfNAiEA0qyI7JJXjAMtC29/Mqky3WNZOLV0HMN40gmwZ0WA8/A=" target="_black"><img src="/img/shop-mall/5.jpg" alt=""></a>
	</p>
</div> 