<div class="header-box">
<div class="link-header">
	<ul class="lk-he-l">
		<li class="ws"><a href=""><img src="/img/shop-mall/icon_phone.png" alt=""><span>微商城</span></a><img src="/img/shop-mall/wx.jpg" class="wx-img"></li>
		<li class="wb"><a href=""><img src="/img/shop-mall/icon_sina.png" alt=""><span>官方微博</span></a></li>
		<li class="tw"><a href=""><img src="/img/shop-mall/icon_tw.png" alt=""><span>台湾元祖</span></a></li>
	</ul>
	<ul class="lk-he-r">
		<li class="login"><a href="/html/login-register/login-register.html">登录/注册</a></li>
		<li class="vip"><a href="">会员中心</a></li>
		<li class="cart"><a href="">购物车</a></li>
		<li class="yz"><a href="">元祖店门</a></li>
		<li class="help"><a href="">帮助中心</a></li>
	</ul>
</div>
<div class="small-banner">
	<a href=""><img src="/img/shop-mall/small banner.jpg"></a>
</div>
<div class="search-column">
	<a href="/html/shop-mall/shop-index.html" class="s-l"></a>
	<form  class="s-c" action="/html/list/list.html" method="get">
		<div class="s-box">
			<input type="text" name="search" placeholder="请输入搜索名称" id="search">
			<button type="submit" class="sbtn">搜索</button>
		</div>
		<p class="s-txt">热门搜索:<a href="/html/list/list.html?alltype=MUCH蛋糕">MUCH蛋糕</a><a href="/html/list/list.html?alltype=精致西点">精致西点</a></p>
	</form>
	<a href="" class="s-r"></a>
</div>
<div class="nav">
	<div class="down-menu">
		全部商品分类
		<ul class="d-m-box">
			<li>
				<span class="d-m-title">
					<a href="/html/list/list.html?alltype=元祖补冬季" title="">元祖补冬季</a>
				</span>
				<a href="/html/list/list.html?type=补冬礼盒">补冬礼盒</a><a href="/html/list/list.html?type=补冬蛋糕">补冬蛋糕</a>
			</li>
			<li>
				<span class="d-m-title">
					<a href="/html/list/list.html?alltype=MUCH蛋糕" title="">MUCH蛋糕</a>
				</span>
				<a href="/html/list/list.html?type=鲜奶蛋糕">鲜奶蛋糕</a><a href="/html/list/list.html?type=巧克力蛋糕">巧克力蛋糕</a><a href="/html/list/list.html?type=慕思蛋糕">慕思蛋糕</a><a href="/html/list/list.html?type=多层蛋糕">多层蛋糕</a>
			</li>
			<li>
				<span class="d-m-title">
					<a href="/html/list/list.html?alltype=元组礼盒" title="">元祖礼盒</a>
				</span>
				<a href="/html/list/list.html?type=水果礼盒">水果礼盒</a><a href="/html/list/list.html?type=糕点礼盒">糕点礼盒</a>
			</li>
			<li>
				<span class="d-m-title">
					<a href="/html/list/list.html?alltype=精致西点" title="">精致西点</a>
				</span>
				<a href="/html/list/list.html?type=小慕思类">小慕思类</a><a href="/html/list/list.html?type=西点卷类">西点卷类</a><a href="/html/list/list.html?type=麻糬类">麻糬类</a><a href="/html/list/list.html?type=其他">其他</a>
			</li>
			<li>
				<span class="d-m-title">
					<a href="/html/list/list.html?alltype=元祖卡券" title="">元祖卡券</a>
				</span>
				<a href="/html/list/list.html?type=礼卡">礼卡</a><a href="/html/list/list.html?type=水果券">水果券</a><a href="/html/list/list.html?type=西点券">西点券</a>
				<a href="/html/list/list.html?type=蛋糕券">蛋糕券</a><a href="/html/list/list.html?type=电子券">电子券</a>
			</li>
		</ul>
	</div>
	<ul class="menu">
		<li><a href="/html/shop-mall/shop-index.html">元祖商城</a></li>
		<li><a href="">品牌故事</a></li>
		<li><a href="">企业试吃</a></li>
		<li><a href="">启蒙乐园</a></li>
		<li><a href="">联系我们</a></li>
	</ul>
</div>
</div>
